<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title class="font-bold ">
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>"/>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
                <h6 class="py-4 font-bold">Signup as a new user</h6>
                <form action="/session" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                 
                    <div class="py-3">

                        <label for="email">Email:</label>
                        <input type="email" name="email"class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                    </div>
                    <div class="py-3">
                        <label for="password">Password:</label>
                        <input type="password" name="password"class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                    </div>
                    <div class="py-3"><button type="submit" class="text-white bg-green-600 hover:bg-green-800 font medium rounded px-5 py-2">Sign in</button></div>

                    
                </form>
             
                <%- include("notifications.ejs") %>
        </div>
    </div>
</body>

</html>