<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>To-Do Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">


    <script>
        var token = document.querySelector("meta[name='csrf-token']").getAttribute("content")
        function updateTodo(id) {
            fetch(`/todos/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    _csrf: token,

                })

            }).then((res) => {
                if (res.ok) {
                    window.location.reload()
                }

            }).catch((err) =>
                console.error(err))
        }
        function deleteTodo(id) {
            fetch(`/todos/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    _csrf: token,

                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload()
                }

            }).catch((err) =>
                console.error(err))
        }
    </script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
                <a href="/signout" class="font-bold ">Signout</a>
                <form action="/todos" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title" placeholder="What's next?"
                                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm"  />
                        </div>
                        <div class="flex-auto">
                            <input type="date" name="duedate"
                                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                                 />
                        </div>
                        <div class="flex-none">
                            <button type="submit"
                                class="bg-green-600 text-white px-5 py-2 rounded font-medium mr-2 mb">Add</button>
                        </div>
                    </div>
                   

                </form>

                <%- include("notifications.ejs") %>
                    <%- include('footer.ejs') %>
                        <%- include("todo.ejs") %>



</body>

</html>